MeguRobot/config.py
MeguRobot/*.session
MeguRobot/*.session-journal
MeguRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MeguRobot/modules/helper_funcs/temp.txt
MeguRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
*.session-journal
updates.txt
*.exe
*.webp
*.jpg
*.png
resources/
